<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carbooking"
    tools:node="replace">

    <uses-permission android:name="android.permission.INTERNET" tools:node="replace" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".utils.CustomApplication"
        android:label="@string/app_name"
        tools:replace="android:appComponentFactory"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.example.carbooking.ui.PrePayment" />
        <activity android:name="com.example.carbooking.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.carbooking.ui.LoginOptionActivity" />
        <activity android:name="com.example.carbooking.ui.SignInActivity" />
        <activity android:name="com.example.carbooking.ui.SignUpActivity" />
        <activity
            android:name="com.example.carbooking.ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.carbooking.ui.CarCategoryActivity" />
        <activity android:name="com.example.carbooking.ui.CarActivity" />
        <activity android:name="com.example.carbooking.ui.RentalActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.carbooking.ui.DestinationActivity"
            android:label="@string/title_activity_destination"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.BookingActivity"
            android:label="@string/title_activity_booking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName="com.example.carbooking.ui.HomeActivity" />
        <activity
            android:name="com.example.carbooking.ui.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.carbooking.ui.FullOrderActivity" />
        <activity
            android:name="com.example.carbooking.ui.ProductActivity"
            android:label="@string/title_activity_product"
            android:parentActivityName="com.example.carbooking.ui.CarCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.UserActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.CarManagerActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.carbooking.ui.EditActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.carbooking.ui.ForgottenActivity" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:node="replace" />
    </application>

</manifest>